<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAnCNAQM1ZLxAMvGmAyilf7uHwWNbZv7V0</string>
	<key>GCM_SENDER_ID</key>
	<string>603306857413</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>chalisa.ToDoList</string>
	<key>PROJECT_ID</key>
	<string>mytodolist-a6f27</string>
	<key>STORAGE_BUCKET</key>
	<string>mytodolist-a6f27.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:603306857413:ios:eab10f6e59bca7e6e2f1ac</string>
</dict>
</plist>